.personnage {
	display: inline-block;
	width: 30%;
}

.texte {
	margin-top: 10px;
	padding: 8px;
	background-color: gold;
	border-radius: 10px;
}

.blaze  {
	color: white;
	font-size: 18px;
	background-color: grey; 
	padding: 8px;
	border-radius: 10px;
}


.blaze:hover {
		background-color: white;
		opacity: 1;
		color: gold;
}
	
